/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header */
.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 20px;
    outline: none;
}

/* Menu Slider */
.menu-slider {
    background-color: #ddd;
    height: 50px;
    /* 메뉴 슬라이더 스타일링 */
}

/* Thumbnails */
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.thumbnail {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    /* 각 썸네일 너비 */
}

.longer-thumbnail {
    height: 250px;
    /* 조금 더 긴 썸네일 높이 */
}

/* Scrollbar */
.thumbnails {
    overflow-y: scroll;
    max-height: 70vh;
    /* 스크롤 기능 추가 및 높이 설정 */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.thumbnails::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnails {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
