/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* 배경색 추가 */
}

header {
  background: linear-gradient(45deg, #FF6EFF, #FFFF99);
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.login-button a {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.login-button a:hover {
  background-color: #555;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.thumbnail {
  margin: 20px; /* 위아래 폭 넓힘 */
  padding: 20px;
  border: 2px dashed #FF6EFF;
  border-radius: 10px;
  width: calc(50% - 40px); /* 위아래 폭 넓힘 */
  background-color: #EAEAEA; /* 연회색 배경 추가 */
}

.thumbnail input[type="text"] {
  width: calc(100% - 40px);
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #FFFF99; /* 노랑 배경 추가 */
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#uploadButton {
  width: 60px; /* 크기 키우기 */
  height: 60px; /* 크기 키우기 */
  border-radius: 50%;
  background-color: white; /* 하얀색 배경 추가 */
  color: #007bff; /* 파랑 글자 추가 */
  font-size: 28px; /* 폰트 사이즈 키우기 */
  border: 2px solid #007bff; /* 테두리 추가 */
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#uploadButton:hover {
  background-color: #f0f0f0; /* 호버 배경색 추가 */
}
